body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  background-color: transparent;
  border: 0;
}


.navbar .navbar-brand {
  color: #ffffff;
}

.navbar i{
	color: #fff;
}

.navbar .navbar-brand:hover {
  color: #377B91;
}
.navbar .navbar-right li a {
  color: #ffffff;
}
.navbar .navbar-right li a:hover {
  color: #377B91;
}

.navbar .navbar-right li a:focus {
  color: #377B91;
}

.navbar-default .navbar-toggle {
  background-color: transparent;
  border: 0;
}

.navbar-scrolled {
  background-color: #3B464A;
}

.name-header {
  position: relative;
  height: 750px;
  background-image: url("../img/background.jpeg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

@media screen and (max-width: 1024px) {
	.name-header {
		background-attachment: scroll;
	}
}



.name {
  color: #FFFFFF;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -75px;
}

section {
  padding: 50px;
}

.about {
  margin: 2.5em 0 2.5em 0;
}

#projects {
  background-color: #3B464A;
  padding-bottom: 45px;
  color: #FFFFFF;
}

.project {
  padding: 25px;
  margin: auto auto;
}
.project .img-responsive {
  margin: 15px auto;
}
.project img {
  border: 5px solid #ffffff;
}

#about p {
  font-size: 22px;
  margin-top: 2.5em;
}

.contact {
  margin-bottom: 100px;
}
.contact .button {
  margin: 15px auto;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  border-radius: 0px;
  background-color: #3B464A;
  color: #ffffff;
}
.contact .button:hover {
  background-color: #000000;
  margin: 10px auto;
  padding: 20px 0 20px 0;
}
.contact .button:active {
  background-color: #377B91;
  padding: 20px 0 20px 0;
}
.contact #email {
  color: #3B464A;
  font-size: 1.5em;
}

.email {
	margin-top: 3em;
}


.wrapper {
  padding-bottom: 15px;
  margin-bottom: 150px;
  z-index: 3;
  background-color: #ffffff;
}

footer {
  background-color: #000000;
  color: #ffffff;
  position: fixed;
  height: 150px;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
footer a {
  color: #ffffff;
}

#footer {
  padding: 40px 0;
}

.heart {
  color: rgb(255, 75, 75);
}
