html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  background-color: #51676f;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  margin: 25px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main {
  background-color: #DFDFDF;
  width: 45%;
  padding: 5%;
  box-shadow: 0 12px 10px -6px #353535;
}

.header {
  width: 90%;
  margin: 0 auto;
}


.item-title {
  margin-top: 35px;
  margin-bottom: 3px;
}

.item-sub {
  margin: 2px auto;
  color: #51676f;
}

.header .header-name{
  margin: 0 auto;
  margin-bottom: 1%;
  text-align: center;
  font-size: 56px;
}

.header .header-title{
  margin: 0 auto;
  margin-bottom: 1%;
  text-align: center;
  font-size: 32px;
  color: #000;
}

.header .header-email{
  margin: 0 auto;
  margin-bottom: 5%;
  text-align: center;
  font-size: 24px;
  color: #51676f;
  word-wrap: break-word;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.links .links-link {
  padding: 5px 15px;
  background-color: #51676f;
  border: none;
  margin: 3px 25px;
  padding: 15px 30px;
  box-shadow: 0 7px 10px -6px #353535;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
}

.links-link:hover {
  transition-duration: .1s;
  transform: translateY(-5px);
  box-shadow: 0 12px 10px -8px #353535;
  cursor: pointer;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-point {
  padding-left: 16px;
  margin-top: 10px;
}

.list-point:before {
  content: "-";
  padding-right: 8px;
}

.last {
  margin-bottom: 75px;
}

@media screen and (max-width: 960px) {
  .main {
    width: 85%;
  }
}

@media screen and (max-width: 640px) {
  .links {
    flex-direction: column;
  }

  .links .links-link {
    margin: 15px auto;
  }
}